.box {
  width: 200px;
  height: 200px;
  background-color: red;
  border: 3px solid black;
  margin: 30px;
  padding: 30px;
  box-sizing: border-box;
}
.item {
  width: 200px;
  height: 200px;
  background-color: blue;
  border: 3px solid black;
  margin: 30px;
  padding: 30px;
  box-sizing: border-box;
}
.wrapper {
  height: 1000px;
  background-color: orange;
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  align-items: center;
}